.background{
    background-color: #4fb6db;
    border-color: black;
    border-width: auto;
    color: black;
    padding: 40px;

}

.navbar-btn{
    background-color:#98d8d8;
    font-size: 15px;
    color: #808080;
    border-color: black;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
}

.navbar-btn:hover{
    background-color:#4fdbd4;
    color: black;
}

@media only screen and (max-width:450px) {
    .background {
        width: 100%; 
        float: left;
        padding: 5px;
        padding-top: 50px;
    }
    .navbar-btn{
        background-color:#add8e6;
        font-size: 10px;
        color: #808080;
        border-color: black;
        border-radius: 10px;
        text-decoration: none;
        width: 200px;
    }
    
    .navbar-btn:hover{
        background-color:#ffd700;
        color: black;
    }
}
