.background_footer{
    background-color: #4fb6db;
    color: black;
    padding: 10px;
    container: fluid;
    max-width: large ;
    max-height: fit-content;
}

.item{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.item:hover{
    color: #bfccde;
}

.map{
    width:400px;
height:200px
}